@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Roboto+Slab&display=swap');

.about {
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  color: brown;
  font-weight: bolder;
}

.para {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}
